services:
  kafka:
    image: bitnamilegacy/kafka:latest
    container_name: kafka
    environment:
      - KAFKA_KRAFT_MODE=true
      - KAFKA_CLUSTER_ID=cluster-1
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/bitnami/kafka
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server kafka:9092 --list >/dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  fastapi_app:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      kafka:
        condition: service_healthy
    env_file: .env

  producer_service:
    build:
      context: ./producer_service
      dockerfile: Dockerfile.producer
    container_name: producer_service
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env

  consumer_service:
    build:
      context: ./consumer_service
      dockerfile: Dockerfile.consumer
    container_name: consumer_service
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env

volumes:
  kafka_data:
